<div class="container-fluid d-flex justify-content-center flex-column">
    {{#each posts as |post|}}
    <div class="container mt-2 hover:grow">
        <div class="card w-100">
            <a ></a>
            <div class="card-header">
                <a class="text-decoration-none text-dark" href="../post/{{id}}">{{title}}</a>
                <div class="float-end">Created by: {{user.username}} at {{createdAt}} </div>
            </div>
            <div class="card-body">
                <p class="card-text">{{content}}</p>
            </div>
        </div>
    </div>

    {{/each}}
</div>