<div class="container-fluid d-flex justify-content-center flex-column">
    {{#each posts as |post|}}
    <div class="container mt-2">
        <div class="card w-100">
            <div class="card-header">
                {{title}}
            </div>
            <div class="card-body">
                <p class="card-text">{{content}}</p>
                <div>
                    <i data-id='{{id}}' class="deleteBtn text-dark fas fa-trash-can m-1"></i>
                    <a href="../edit/{{id}}"><i data-id='{{id}}' class="editBtn text-dark fas fa-pen-to-square"></i></a>
                </div>
            </div>
        </div>
    </div>

    {{/each}}
</div>

<script src="/js/dashBtns.js"></script>